In [1]:
import pandas as pd
from functions.load_data import load_matches, load_match_events, load_match_scorings

In [2]:
# load matches from open data repository
matches = load_matches()

# show matches
matches.head()

,iterationId,id,matchDayIndex,matchDayName,homeSquadId,homeSquadName,awaySquadId,awaySquadName,scheduledDate,lastCalculationDate,available
0,743,122838,0,1. Spieltag,38,SV Werder Bremen,33,FC Bayern München,2023-08-18T18:30:00Z,2025-08-28T06:30:00.471380Z,True
1,743,122839,0,1. Spieltag,41,Bayer 04 Leverkusen,37,RasenBallsport Leipzig,2023-08-19T13:30:00Z,2025-07-24T01:26:33.441698Z,True
2,743,122840,0,1. Spieltag,30,VfL Wolfsburg,432,1. FC Heidenheim 1846,2023-08-19T13:30:00Z,2025-07-24T01:26:40.160523Z,True
3,743,122841,0,1. Spieltag,31,TSG 1899 Hoffenheim,34,SC Freiburg,2023-08-19T13:30:00Z,2025-07-24T01:26:38.697242Z,True
4,743,122842,0,1. Spieltag,46,VfB Stuttgart,416,VfL Bochum,2023-08-19T13:30:00Z,2025-07-24T01:26:35.675123Z,True

In [3]:
# extract list of match ids
match_ids = matches["id"].tolist()
match_ids = [122839, 122840, 122841]

# load event data
events = load_match_events(match_ids=match_ids)

# show events
events.head()

,matchId,dateTime,iterationId,matchDayIndex,matchDayName,homeSquadId,homeSquadName,awaySquadId,awaySquadName,eventNumber,...,shotTargetPointY,shotTargetPointZ,duelType,duelPlayerId,duelPlayerName,fouledPlayerId,fouledPlayerName,formationTeam,formationOpponent,inferredSetPiece
eventId,,,,,,,,,,,,,,,,,,,,,
4614749499,122839,2023-08-19T13:30:00Z,743,0,1. Spieltag,41,Bayer 04 Leverkusen,37,RasenBallsport Leipzig,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-4-2 (flat),5-2-2-1,False
4614749500,122839,2023-08-19T13:30:00Z,743,0,1. Spieltag,41,Bayer 04 Leverkusen,37,RasenBallsport Leipzig,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-4-2 (flat),5-2-2-1,False
4614749501,122839,2023-08-19T13:30:00Z,743,0,1. Spieltag,41,Bayer 04 Leverkusen,37,RasenBallsport Leipzig,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-4-2 (flat),5-2-2-1,False
4614749502,122839,2023-08-19T13:30:00Z,743,0,1. Spieltag,41,Bayer 04 Leverkusen,37,RasenBallsport Leipzig,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-4-2 (flat),5-2-2-1,False
4614749503,122839,2023-08-19T13:30:00Z,743,0,1. Spieltag,41,Bayer 04 Leverkusen,37,RasenBallsport Leipzig,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-4-2 (flat),5-2-2-1,False

In [4]:
# load event scorings
scorings = load_match_scorings(match_ids=match_ids)

# show events
scorings.head()

,matchId,eventId,playerId,position,kpiId,kpiName,value
0,122839,4614749499,2735,CENTER_FORWARD,1406,PXT_SETPIECE,-0.002559
1,122839,4614749499,2735,CENTER_FORWARD,1411,PXT_NO_VIDEO,0.005388
2,122839,4614749499,2735,CENTER_FORWARD,1415,OPP_PXT_SETPIECE,0.000178
3,122839,4614749499,2735,CENTER_FORWARD,1420,OPP_PXT_NO_VIDEO,0.000400
4,122839,4614749499,66772,CENTER_FORWARD,1524,DEF_PXT_SETPIECE,-0.002559